body{
	font-family: Courier, Monaco, monospace;
	text-align: center;
font-size: 19px;
}

.d1{background-image: url("http://themcmorrislife.com/AD320_ShoppingList-master/AD320_ShoppingList-master/images/grocery.jpg");
	grid-area: header;
}
.d2{background:#fff;
	padding: 50px;
}
.d3{background:#fff;
	
	background-image: url("http://themcmorrislife.com/AD320_ShoppingList-master/AD320_ShoppingList-master/images/grocery.jpg");
	padding: 30px;
}
.d4{
	grid-area: footer;
	background: #fff;
}

.container{
font-size: 19px;
	padding: 50px;
width:50%;
display: grid;
margin: 0 auto;
	/*grid-template-areas:
		"header header "
		". content "
		"footer footer";*/
	min-height: 500px;
}

.d1 img {
	width: 30%;
	display: block;
	margin-left:auto;
	margin-right: auto;
}

p1 {
	font-family: Courier, Monaco, monospace;
	font-size: 25px:
}
form {
width: 45%;
margin: 50px auto;
text-align: left;
padding: 20px;
border: 1px solid #bbbbbb;
border-radius: 5px;
}
table {
width: 50%;
margin: 30px auto;
border-collapse : collapse;
text-align: left;
}
tr {
border-bottom: 1px solid #cbcbcb;
}
th, td {
border: none;
height: 30px;
padding: 2px;
}
tr : hover {
background: #F5F5F5;
}